@{
  Layout = "_Layout";
}

@model BestRestaurant.Models.Cuisine

<h2>@Model.Type</h2>

@Html.ActionLink("Edit", "Edit", new { id = Model.CuisineId})
@Html.ActionLink("Delete", "Delete", new { id = Model.CuisineId})